# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Database
jobs.db
jobs.json
jobs.json.bak

# Environment Variables
.env
.venv
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Playwright
/ms-playwright/
/playwright/
browser_recordings/
trace.zip

# Logs
*.log
out.txt
err.txt
